<a href="https://colab.research.google.com/github/theysmilca/Kristelle/blob/main/4100E221-python102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Summation**

In [1]:
def sum(a1, a2, a3):
    result = 0
    for a in range(a1, a2, a3):
        result += a
    return result

def main():
    print("Sum1", sum(15, 20, 25)) 
    print("Sum2", sum(70, 80, 6))
    print("Sum3", sum(7, 88, 4))

main() # Call the main function

Sum1 15
Sum2 146
Sum3 987

In [2]:
12+18+24+30+36

120

In [3]:
52+54+56+58+60+62+64+66+68+70

610

In [4]:
4+8+12+16+20+24+28+32+36+40+44+48+52

364

# **Swap**

In [5]:
def swap(c,d):
  c,d = d,c
  return (c,d)

if __name__ == '__main__':
    c = 14
    d = 12
    print('c = %d,d = %d' % (c,d))
    c,d = swap(c,d)
    print('c = %d,d = %d' % (c,d))

c = 14,d = 12
c = 12,d = 14

# **From Small to Large**

In [6]:
def sort(numberA, numberB, numberC):
    if numberA < numberB < numberC:
        return numberA, numberB, numberC
    else:
        return numberC, numberB, numberA

numA, numB, numC = sort(14, 12, 17)

print("num1 is", numA)
print("num2 is", numB)
print("num3 is", numC)

num1 is 17
num2 is 12
num3 is 14

# **From Large to Small**

In [7]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(12,14,6)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 6
num2 is 12
num2 is 14

# **Area**

In [14]:
def printArea(width = 12.7, height = 24.88):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

In [15]:
12.7*24.88

315.97599999999994

# **use default arguments**

In [17]:
printArea()

width: 12.7 	height: 24.88 	area: 315.97599999999994

# **use Keyboard arguments**

In [18]:
printArea(width = 30, height = 14)

width: 30 	height: 14 	area: 420

In [19]:
printArea(height =14, width = 30)

width: 30 	height: 14 	area: 420

# **use Positional arguments**

In [20]:
printArea(30,45)

width: 30 	height: 45 	area: 1350

In [21]:
printArea(45,30)

width: 45 	height: 30 	area: 1350

# **Lambda**

In [22]:
f4 = lambda a, b, c: a+3*b+4*c
print(f4(6,7,8))

59

# **Power of Lambda**

In [24]:
def myfunc(a):
    return a*a

my_list = [4, 8, 12, -16, -20]

print(list(map(lambda x:myfunc(x), my_list)))

[16, 64, 144, 256, 400]