<a href="https://colab.research.google.com/github/theysmilca/Kristelle/blob/main/python_function1-4100E221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 5 is", sum(1, 6)) 
    print("Sum from 20 to 40 is", sum(20, 41))
    print("Sum from 35 to 55 is", sum(35, 56))

main() # Call the main function

Sum from 1 to 5 is 15
Sum from 20 to 40 is 630
Sum from 35 to 55 is 945

sum(1, 5) ==> 1+2+..5=15

# Simple test
please write a function sum(i1,i2,i3) that can do 

sum(i1,i2,i3)

==> range(i1,i2,i3)

def sum(i1,i2,i3):

    -----your code


def main():
    print("Sum1", sum(1, 6,1)) 
    print("Sum2", sum(30, 50,4))
    print("Sum3", sum(40, 60,5))

main() # Call the main function


sum(1, 6,21) = 1+2+3+4+5

sum(30, 50,4) = 30+34+38+42+46

sum(40, 60,5) =40+45+50+55

In [2]:
def swap(c,b):
  c,b = b,c
  return (c,b)

if __name__ == '__main__':
    c = 40
    b = 45
    print('c = %d,b = %d' % (c,b))
    x,y = swap(c,b)
    print('c = %d,b = %d' % (c,b))

c = 40,b = 45
c = 40,b = 45

In [9]:
def sort(number1, number2, number3 ): 
      if  (number1 < number2) and (number1 < number3):
        if number2 < number3:
            return number1, number2, number3
      else:
            return number1, number3, number2
      if  (number2 < number1) and (number2 < number3):
        if number1 < number3:
            return number2, number1, number3
      else:
            return number2, number3, number1
      if  (number3 < number1) and (number3 < number2):
        if number1 < number2:
            return number3, number1, number2
      else:
            return number3, number2, number1

num1, num2, num3  = sort(20,24,38)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 20
num2 is 24
num3 is 38

In [5]:
#!/usr/bin/python
#_*_ coding: UTF-8 _*_

def printArea(width = 10, height= 15):
    area =width * height
    print("width", width, "\theight", height, "\tarea", area)

In [ ]:
10*15

150

In [ ]:
printArea()

width 10 	height 15 	area 150

In [ ]:
printArea(width = 10, height= 15)

width 10 	height 15 	area 150

In [ ]:
printArea(height = 15, width = 10)

width 10 	height 15 	area 150

In [ ]:
printArea(10,15)

width 10 	height 15 	area 150

In [ ]:
printArea(15,10)

width 15 	height 10 	area 150

  #lambda function

In [8]:
f1 = lambda x,y, z: x+10*y+15*z
print(f1(10,15,20))

460

In [10]:
def myfunc(m):
    return m*x

my_list = [30,35,40,45,50,55]

print(list(map(lambda x:myfunc(x), my_list)))

[1350, 1575, 1800, 2025, 2250, 2475]